.navbar {
    margin-bottom: 35px;
}
#top-nav {
    margin: 0;
    background: #666;
    color: white;
    font-size: 14px;
    padding: .5rem .5rem;
}

#list-left {
    padding: 3px 12px 3px 7px;
    border-right: 1px solid #eaeaea;
}

#link-left {
    color: white;
    cursor: pointer;
}

#link-down {
    color: white;
    cursor: pointer;
    padding: 5px 25px 5px 25px;
    border-right: 1px solid rgba(255,255,255,0.2);
}

#main-header {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.profile {
    padding: 0px 5px 0px 5px;
    background: #fff;
    border: 2px solid #ed1c24;
    border-radius: 0px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    padding: 5px 10px 5px 10px;
    font-size: 30px;
}

.navbar-toggler-icon {
    color: white;
}

#profileIcon {
    color: #666;
    cursor: pointer;
}

.menu-items {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 6px 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

#bottom-nav {
    background: #ed1c24;
    padding: 0px;
}

p {
    margin-top: 1rem;
    padding-right: 12px;
}

.logo {
    padding: 0 15px 0 0;
    margin: 0;
}

#ml-nav {
    padding-left: 15px!important;
    margin: 0!important;
}

#mx-nav {
    width: 380px;
    border-radius: 0px;
}
