.navbar {
    margin-bottom: 35px;
}
#top-nav {
    margin: 0;
    background: #666;
    color: white;
    font-size: 14px;
    padding: .5rem .5rem;
}

#list-left {
    padding: 3px 12px 3px 7px;
    border-right: 1px solid #eaeaea;
}

#link-left {
    color: white;
    cursor: pointer;
}