<footer id="footer" class="footer fixed-bottom">
    <div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 mb-3">
                <div class="module-heading">
                    <h4 class="module-title">kontakt </h4>
                </div>
                <div class="module-body">
                    <ul class="toggle-footer">
                        <li class="media">
                            <div class="pull-left">
                                <span class="icon fa-stack fa-lg">
                                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>    
                            </span>
                            </div>
                            <div class="media-body">
                                <p>Kneza Aleksandra 38</p>
                                <p>Gornji Milanovac, Srbija</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="pull-left">
                                <span class="icon fa-stack fa-lg">
                                <fa-icon [icon]="faPhone"></fa-icon>   
                            </span>
                            </div>
                            <div class="media-body">
                                <p>+381 065/ 436-80-11</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="pull-left">
                                <span class="icon fa-stack fa-lg">
                                <fa-icon [icon]="faEnvelope"></fa-icon>   
                            </span>
                            </div>
                            <div class="media-body">
                                <p>office@prodaja.rs</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 mb-3">
                <div class="module-heading">
                    <h4 class="module-title">informacije </h4>
                </div>
                <div class="media-body">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/home/about">O nama</a>
                        </li>
                        <li>
                            <a href="/home/news">Novosti</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 mb-3">
                <div class="module-heading">
                    <h4 class="module-title">dodatne informacije</h4>
                </div>
                <div class="media-body">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/home/profile">Profil</a>
                        </li>
                        <li>
                            <a href="/home/reclamation">Nacin reklamacije</a>
                        </li>
                        <li>
                            <a href="/home/contact">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <p id="copyright-text"> © 2020 Copyright </p>
  </div>
</div>
</footer>